nav a {
  color: crimson;
  text-decoration: none;
}

blockquote {
  background-color: #eaeaea;
}

.users span {
  font-weight: bold;
}
.users span:last-child {
  color: crimson;
}

.creators .link {
  text-decoration: none;
  font-family: "Lato";
  /* background-color: aqua; */
}
.creators .link.font {
  text-decoration: none;
  font-family: "PT Serif";
  font-weight: bold;
  /* background-color: chartreuse; */
}

#cta {
  /* background-color: aquamarine; */
  color: crimson;
  font-family: "Lato";
}

.cta li:nth-child(odd) {
  text-decoration: underline;
}
